body{
	color: rgb(200,200,200);
	background-color: #000;
	font-family: sans-serif;
}

#jukeYoutubeID{
	resize: vertical;
}

.helphover{
	font-size: 50%;
}

.noSelect{
	user-select: none;
}




#back{
	z-index: -100;
	position:absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	/*box-shadow: inset 0 0 50% #000;*/
	background-size: cover;
	background-position: center;
}

#vignette{
	z-index: -99;
	position:absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
}

#mixerBox{
	position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
}


#loader{
	/*border: 1px solid rgb(100,100,100);
	background-color: rgba(50,50,50,1);*/
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 102px;
}

.hidden{
	display:none!important;
}

.popup{
	position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
	z-index: 100;
}

.panel{
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.8);
	padding: 4px;
    /*border-radius:4px;*/
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.7);
}

td.vr{
	border: 1px solid rgba(255,255,255,0.2);
	height: 100%;
	width: 0px;
	padding: 0px;
}

td.vrspacer{
	height: 100%;
	width: 0px;
	padding: 0px;
}

.titlebar{
	width: 100%;
	border-bottom: 2px solid rgba(255,255,255,0.2);
	
}

.header{
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.center{
	text-align: center;
}

.label{
	display: inline-block;
}



#jukebox{
	position: fixed;
	top: 24px;
	bottom: 24px;
	width: 200px;
	right: -200px;
	transition: right 0.2s;
}

#jukeTag{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	transform:rotate(-90deg);
	width: 100px;
	height: 30px;
	left:-72px;
	top:30px;
	border: 1px solid rgba(255,255,255,0.2);
	padding-top: 10px;
	border-bottom: none;
}

/*this just makes it so we can pop out the jukebox easier*/
#jukeTag:before{
	/*background-color: #ff0000;*/
	content: " ";
	position: absolute;
	left: -100vh;
	right: -4px;
	top:0px;
	bottom:0px;
}

#jukebox:hover{
	right: 0px;
}


#jukeControls{
	
}

.jukeTrack{
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.2);
	width:100%;
	height: 24px;
	/*width: 48px;
	height: 200px;*/
	padding: 0px;
	position: relative;
}

.playing{
	background-color: rgba(50,200,50,0.5)!important;
}

.jukeError{
	background-color: rgba(200,50,50,0.5)!important;
}

.jukeLabel{
	position:absolute;
	left: 0px;
	bottom: 0px;
	top: 0px;
	right: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: hidden;
}

.jukeDelete{
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.jukeDelete:before{
	content:"";
	position: absolute;
	width: 16px;
	height: 2px;
	background-color: rgb(255,70,70);
	left:2px;
	transform: rotate(45deg);
}

.jukeDelete:after{
	content:"";
	position: absolute;
	width: 16px;
	height: 2px;
	background-color: rgb(255,70,70);
	left:2px;
	transform: rotate(-45deg);
}


#mixerControls{
	display: inline-block;
	width: 300px;
	height: 200px;
	position: relative;
	float: left;
	margin-right: 8px;
}


.mixerChannel{
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.2);
	width: 48px;
	height: 200px;
	padding: 0px;
	position: relative;
}

.channelError{
    background-color: rgba(150, 50, 50,0.8)!important;
	border-top: none;
	margin-top: 1px;
}

/*.channelError > input{
    background-color: rgb(60, 20, 20)!important;
}*/

.channelError:after{
    position: absolute;
    width: 100%;
    left: -1px;
    top: -25px;
    height: 24px;
    content: "Error";
    background-color: rgba(150, 50, 50,0.8);
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
    text-align: center;
    /*border: 1px solid rgb(120,100,100);*/
	border: 1px solid rgba(255,255,255,0.2);
    border-bottom: none;
}

.horiSlider{
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 23px;
	margin: 0px;
	background-color: rgba(255,255,255,0.2);
	border-top: 1px solid rgba(255,255,255,0.4);
}

.mixerSlider{
	-webkit-appearance: slider-vertical;
	-moz-appearance: none;
	height: 100%;
	margin: 0px;
	width: 23px;
	background-color: rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.4);
	position: absolute;
	left: 0px;
	top: 0px;
}

.mixerSlider:-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

.mixerSlider:-moz-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

.mixerDelete{
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	/*background-color:rgb(100,100,100);*/
	/*border: 2px solid rgb(50,50,50);
	border: 2px solid rgba(255,255,255,0.2);*/
}

/*.mixerDelete:hover{
	border: 2px solid rgb(70,70,70);
	background-color:rgb(140,120,120);
}

.mixerDelete:active{
	border: 2px solid rgb(20,20,20);
	background-color:rgb(120,70,70);
}*/

.mixerDelete:before{
	content:"";
	position: absolute;
	width: 16px;
	height: 2px;
	background-color: rgb(255,70,70);
	left:2px;
	transform: rotate(45deg);
}

.mixerDelete:after{
	content:"";
	position: absolute;
	width: 16px;
	height: 2px;
	background-color: rgb(255,70,70);
	left:2px;
	transform: rotate(-45deg);
}

.mixerLabel{
	transform-origin: bottom left;
	transform:rotate(-90deg);
	position:absolute;
	left: 50px;
	bottom: 28px;
	width: 166px;
	height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: hidden;
}

/*
.mixerLabelInner{
	position: absolute;
	white-space: nowrap;
	transform: translateX(calc(166px - 100%));
	transition: transform 2s, background-color 0.2s;
	transition-timing-function: linear;
}

.mixerLabelInner:hover{
	transform: translateX(0px)!important;
	background-color: rgb(20,20,20)!important;
}
*/

.textbox{
    width: calc(100% - 8px);
    border: 2px solid rgb(40,40,40);
    margin: 0px;
    padding: 2px;
    /*border-radius: 4px;*/
}

#joinLink{
    position: relative;
    word-wrap: anywhere;
    font-size: 50%;
	background-color: #000;
	color: #000;
	transition: background 0.2s;
	height:16px;
}

#joinLink:after{
    content: "Hover to reveal.";
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 200%;
    color: rgb(200,200,200);
    height: 24px;
    pointer-events: none;
    opacity: 1;
    transition: 0.2s;
}

#joinLink:hover{
	background-color: #eee;
}

#joinLink:hover:after{
    /*display: none;*/
    opacity: 0;
}

#idBox{
	background-color: #000;
	color: #000;
	transition: background 0.2s;
	display: inline-block;
	min-width: 150px;
}

#idBox:hover{
	background-color: #eee;
}

#statusBar{
	background-color: rgba(0,0,0,0.2);
	position:absolute;
	display:flex;
	left:0px;
	right:0px;
	top:0px;
	height: 24px;
	flex-wrap: wrap;
}


#statusPanel{
	min-height: 24px;
}

#notificationBar{
	min-height: 24px;
	background-color: rgba(255,255,255,0.2);
	flex-grow:1;
	min-width: 200px;
}

.notification:nth-child(even){
	background-color: rgba(0,0,0,0.5);
}

.notification{
	background-color: rgba(0,0,0,0);
	min-height:24px;
	transition: all 0.5s;
}

.notifImportant{
	background-color: rgba(150,50,50,0.5)!important;
}

.notifHide{
	overflow:hidden;
	min-height:0px;
	height: 0px;
}

#errorCont{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    z-index: 100;
    opacity: 1;
    transition: opacity 0.2s;
    background-color: rgba(0,0,0,0.5);
}

.fadeOut{
    opacity: 0!important;
    pointer-events: none;
}

.softHide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.bottomBar{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 24px;
	
	background-color: rgba(0,0,0,0.2);
}

a:link {
	color: rgb(120, 120, 255);
	text-decoration: none;
}

a:visited {
	color: rgb(150, 100, 220);
	text-decoration: none;
}

a:hover {
	color: rgb(170, 170, 255);
	text-decoration: none;
}

button{
	background-color: rgba(0, 0, 0, 0.8);
	/*border: 1px solid rgb(100, 100, 100);*/
	border: 1px solid rgba(255,255,255,0.4);
	color: rgb(200,200,200);
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	/*border-radius: 4px;*/
}

button:hover {
	background-color: rgb(60, 60, 60);
}

button:active {
	color: rgb(255,255,255);
	background-color: rgb(100, 100, 100);
}

.maxWidth{
	width: 100%;
}